body {
  margin: 0;
}

main {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Contenedor tipo tarjeta */
.flip-card {
  width: 300px;
  margin: 40px auto;
  padding: 25px;
  background: #d9d9d9;
  border-radius: 10px;
  border: 3px solid #000;
  box-shadow: 6px 6px 0px #000;
  text-align: center;
  font-family: Arial, sans-serif;
}

/* Título */
.flip-card .title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #000;
}

/* Inputs */
.flip-card__input {
  width: 90%;
  padding: 12px;
  margin: 10px 0;
  border: 2px solid #000;
  border-radius: 6px;
  box-shadow: 5px 5px 0px #000;
  font-size: 16px;
  outline: none;
}

/* Estilo del label + checkbox */
.flip-card label {
  display: block;
  margin: 12px 0 5px;
  font-weight: bold;
  font-size: 15px;
  text-align: left;
  padding-left: 15px;
}

/* Checkbox estilo cartoon */
.flip-card input[type="checkbox"] {
  width: 18px;
  height: 18px;
  margin-left: 10px;
  padding-top: 13px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
  background: white;
  accent-color: #555;
  box-shadow: 2px 2px 0px 2px #000;
  appearance: none;
  transition: all 0.2s;
}

.flip-card input[type="checkbox"]:checked {
  width: 18px;
  height: 18px;
  margin-left: 10px;
  padding-top: 13px;
  cursor: pointer;
  border: 1px solid black;
  border-radius: 3px;
  background: rgb(20, 212, 226);
  accent-color: #555;
  box-shadow: 2px 2px 0px 2px #000;
  appearance: none;
}

/* Botón */
.flip-card__btn {
  margin-top: 10px;
  padding: 10px 25px;
  font-size: 16px;
  border: 2px solid #000;
  border-radius: 6px;
  background: #fff;
  cursor: pointer;
  box-shadow: 5px 5px 0px #000;
  transition: transform 0.1s ease;
}

/* Efecto al pulsar */
.flip-card__btn:active {
  transform: translate(3px, 3px);
  box-shadow: 2px 2px 0px #000;
}
